.controller-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-size: cover;
  background-image: url("../Images/8.png");
}
.rlis-overlay-tourney-area {
  flex: 0 0 auto;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.rlis-overlay-tourney-top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
}
.rlis-overlay-left-spacer {
  flex: 0 0 auto;
  width: 560px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.rlis-overlay-tourney-info-area {
  flex: 0 0 auto;
  width: 800px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.76);
  clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%)
}
.rlis-overlay-tourney-text {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-right-spacer {
  flex: 0 0 auto;
  width: 560px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.rlis-overlay-overlay-top {
  width: 100%;
  height: 105px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
}
.rlis-overlay-top-left-spacer {
  flex: 0 0 auto;
  width: 410px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.rlis-overlay-blue-names {
  flex: 0 0 auto;
  width: 300px;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.rlis-overlay-scoreboard {
  flex: 0 0 auto;
  width: 1100px;
  height: 125px;
  display: flex;
  z-index: 100;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.rlis-overlay-scoreboard-top {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
}
.rlis-overlay-full-score-area {
  flex: 0 0 auto;
  width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.rlis-overlay-blue-scoreboard-area {
  width: 450px;
  height: 75px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background: linear-gradient(84deg, #003576, #007ad8 95%, #000000c2 5% );
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}
.rlis-overlay-blue-spacer {
  flex: 0 0 auto;
  width: 25px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.rlis-overlay-blue-logo-area {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.rlis-overlay-blue-logo {
  width: 74px;
  height: 90px;
  align-self: center;
  object-fit: cover;
}
.rlis-overlay-blue-team-info-area {
  flex: 0 0 auto;
  width: 225px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rlis-overlay-blue-team-name-area {
  flex: 0 0 auto;
  width: 225px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.rlis-overlay-blue-team-name {
  top: 15px;
  color: #ffffff;
  position: absolute;
  font-size: 25px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-blue-series-score {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
}
.rlis-overlay-blue-g1 {
  top: -20px;
  color: #000;
  right: 5px;
  position: absolute;
  font-size: 30px;
  align-self: stretch;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-blue-g2 {
  top: -20px;
  color: #000;
  right: 55px;
  position: absolute;
  font-size: 30px;
  align-self: stretch;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-blue-g3 {
  top: -20px;
  color: #000;
  right: 105px;
  position: absolute;
  font-size: 30px;
  align-self: stretch;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-blue-g4 {
  top: -20px;
  color: #000;
  right: 155px;
  position: absolute;
  font-size: 30px;
  align-self: stretch;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-blue-g5 {
  top: -20px;
  color: #000;
  right: 205px;
  position: absolute;
  font-size: 30px;
  align-self: stretch;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-blue-score-area {
  flex: 0 0 auto;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: #003576;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
}
.rlis-overlay-blue-score {
  color: #ffffff;
  font-size: 35px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-timer-area {
  flex: 0 0 auto;
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.76);
}
.rlis-overlay-timer {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-orange-scoreboard-area {
  flex: 0 0 auto;
  width: 450px;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background: linear-gradient(277deg, #ae5600, #f77400 95%, #000000c2 5% );
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
}
.rlis-overlay-orange-score-area {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: #ae5600;
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
}
.rlis-overlay-orange-score {
  color: #ffffff;
  font-size: 35px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-orange-team-info-area {
  flex: 0 0 auto;
  width: 225px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rlis-overlay-orange-team-name-area {
  flex: 0 0 auto;
  width: 225px;
  height: 50px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.rlis-overlay-orange-team-name {
  top: 15px;
  color: #ffffff;
  position: absolute;
  font-size: 25px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-orange-series-score {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
}
.rlis-overlay-orange-g1 {
  top: -20px;
  left: 5px;
  color: #000;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-orange-g2 {
  top: -20px;
  left: 55px;
  color: #000;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-orange-g3 {
  top: -20px;
  left: 105px;
  color: #000;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-orange-g4 {
  top: -20px;
  left: 155px;
  color: #000;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-orange-g5 {
  top: -20px;
  left: 205px;
  color: #000;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-orange-logo-area {
  flex: 0 0 auto;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.rlis-overlay-orange-logo {
  width: 74px;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.rlis-overlay-orange-spacer {
  flex: 0 0 auto;
  width: 25px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 75px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.rlis-overlay-scoreboard-bottom {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
}
.rlis-overlay-bottom-left-spacer {
  flex: 0 0 auto;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.rlis-overlay-info-area {
  flex: 0 0 auto;
  width: 800px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.76);
  clip-path: polygon(0 0, 100% 0, 97.5% 100%, 2.5% 100%);
}
.rlis-overlay-info-area-left {
  flex: 0 0 auto;
  width: 267px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.rlis-overlay-info-left-text {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-info-area-middle {
  flex: 0 0 auto;
  width: 267px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rlis-overlay-stage-text {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-info-area-right {
  flex: 0 0 auto;
  width: 266px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.rlis-overlay-info-right-text {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.rlis-overlay-bottom-right-spacer {
  flex: 0 0 auto;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.rlis-overlay-top-right-spacer {
  flex: 0 0 auto;
  width: 410px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-end;
}
.rlis-overlay-orange-names {
  flex: 0 0 auto;
  width: 300px;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.controller-general-info {
  width: 100%;
  height: 342px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
}
.controller-left-spacer1 {
  flex: 0 0 auto;
  width: 240px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.controller-auto-score-series-area {
  flex: 0 0 auto;
  width: 240px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.controller-auto-set-names-area {
  flex: 0 0 auto;
  width: 240px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.controller-auto-set-names-text {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: Quantico;
}
.controller-chk-auto-set-names {
  width: 15%;
  height: 15%;
}
.controller-tourney-abbrv-area {
  flex: 0 0 auto;
  width: 240px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.controller-tourney-abbrv-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  text-align: center;
  font-family: Quantico;
  font-weight: 700;
}
.controller-txt-tourney-abbrv {
  width: 75%;
  font-size: 20px;
  font-family: Quantico;
}
.controller-button {
  width: 100px;
  height: 50px;
  font-size: 25px;
  text-align: center;
}
.controller-tourney-stage-area {
  flex: 0 0 auto;
  width: 240px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.controller-tourney-stage-text {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: Quantico;
}
.controller-txt-tourney-stage {
  width: 75%;
  font-size: 20px;
  font-family: Quantico;
}
.controller-button01 {
  width: 100px;
  height: 50px;
  font-size: 25px;
  text-align: center;
}
.controller-no-series-area {
  flex: 0 0 auto;
  width: 240px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.controller-text14 {
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-text17 {
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-text18 {
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-text21 {
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-series-area {
  flex: 0 0 auto;
  width: 240px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.controller-right-spacer1 {
  flex: 0 0 auto;
  width: 240px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.controller-overlay-body {
  width: 100%;
  height: 594px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
}
.controller-blue-controls {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.controller-blue-team-names {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.controller-container01 {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: flex-end;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
}
.controller-text24 {
  color: #ffffff;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-container02 {
  width: 100%;
  height: 547px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.controller-button02 {
  width: 200px;
  font-size: 25px;
}
.controller-text27 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button03 {
  width: 200px;
  font-size: 25px;
}
.controller-text30 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button04 {
  width: 200px;
  font-size: 25px;
}
.controller-text31 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button05 {
  width: 200px;
  font-size: 25px;
}
.controller-text34 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button06 {
  width: 200px;
  font-size: 25px;
}
.controller-text37 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button07 {
  width: 200px;
  font-size: 25px;
}
.controller-text40 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-container03 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.controller-container04 {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: flex-end;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
}
.controller-text43 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-container05 {
  width: 100%;
  height: 547px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.controller-button08 {
  width: 200px;
  font-size: 25px;
}
.controller-text46 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button09 {
  width: 200px;
  font-size: 25px;
}
.controller-text49 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-orange-controls {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.controller-container06 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.controller-container07 {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: flex-end;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
}
.controller-text52 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-container08 {
  width: 100%;
  height: 547px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.controller-button10 {
  width: 200px;
  font-size: 25px;
}
.controller-text55 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button11 {
  width: 200px;
  font-size: 25px;
}
.controller-text58 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-container09 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.controller-container10 {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: flex-end;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
}
.controller-text61 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-container11 {
  width: 100%;
  height: 547px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.controller-button12 {
  width: 200px;
  font-size: 25px;
}
.controller-text64 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button13 {
  width: 200px;
  font-size: 25px;
}
.controller-text67 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button14 {
  width: 200px;
  font-size: 25px;
}
.controller-text68 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button15 {
  width: 200px;
  font-size: 25px;
}
.controller-text71 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button16 {
  width: 200px;
  font-size: 25px;
}
.controller-text74 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-button17 {
  width: 200px;
  font-size: 25px;
}
.controller-text77 {
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.controller-text78 {
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}